@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap");
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Jost", sans-serif;
}
.container {
  max-width: 1121px;
  margin: auto;
}
.bold-text {
  font-weight: 500;
}

.header-top {
  margin: 0;

  margin-top: -0.375rem;
  margin-left: 0.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-work {
  display: flex;
}
.header-work-list {
  padding-left: 0;
  display: flex;
  gap: 1.875rem;
}
.header-work-item {
  list-style: none;
}
.header-work-link {
  font-weight: 400;
  font-size: 12px;
  color: #5d6c7b;
  text-decoration: none;
}
.header-socials {
  margin-left: 1.875rem;
  display: flex;
  align-items: center;
}
.header-socials-icon-item {
  text-decoration: none;
  margin-right: 0.3rem;
}
.socials-logo {
  width: 12px;
  height: 12px;
  filter: grayscale(100%);
}
.header-phone {
  font-weight: 500;
  font-size: 12px;
  color: #282739;
  text-decoration: none;
}
.header-line {
  width: 100vw;
  height: 1px;
  background: #ecf3ff;
}
.header-logo-svg {
  max-width: 7.1875rem;
  max-height: 1.875rem;
}
.header-content {
  margin-left: 0.4375rem;
  margin-top: 1.5625rem;
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 2.1875rem;
}
.button {
  border: 1.5px solid #6f73ee;
  border-radius: 5px;
  background: #6f73ee;
  cursor: pointer;
}
.header-button {
  margin-right: 20px;
  padding: 15px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 114px;
  height: 40px;
  gap: 13px;
  cursor: pointer;
}
.header-burger-line {
  height: 1px !important;
  min-height: 1px !important;
  width: 13px;
  background-color: #ffffff;
  margin-bottom: 4px;
}
.header-burger-line:last-child {
  width: 7px;
  margin-left: 6px;
}
.header-button-text {
  font-weight: 500;
  font-size: 16px;
}
.header-search {
  width: 603px;
  height: 40px;
  display: flex;
}
.header-search-input {
  width: 563px;
  height: 40px;
  border: 1.5px solid #6f73ee;
  border-radius: 5px 0 0 5px;
  padding-left: 20px;
}
.header-search-input::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  color: #5d6c7b;
}
.button-search {
  padding: 12px;
  border: 1.5px solid #6f73ee;
  border-radius: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  background: #6f73ee;
  cursor: pointer;
}
.button-search-svg {
  width: 16px;
  height: 16px;
}
.header-actions {
  margin-left: 47px;
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.header-actions-icon {
  height: 20px;
  width: 20px;
}
.header-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  vertical-align: middle;
}
.header-actions a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header-cart-text {
  font-weight: 500;
  font-size: 14px;
  color: #282739;
}
.no-webp .header-image {
  background-image: url("../img/header-back-scooter.png");
}

.section-back-image {
  background-image: url("../img/header-back-scooter.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 27.8125rem;
  max-width: 86.25rem;
  margin: auto;
  margin-top: 2.625rem;
  border-radius: 10px;
}
.container-wide {
  max-width: 86.25rem;
  margin: auto;
}
.hero-promo {
  max-width: 38.75rem;
  margin-left: 8.5rem;
}
.hero-promo-contacts {
  padding-top: 3.5rem;
  display: flex;
  gap: 0.625rem;
}
.hero-promo-address-svg {
  width: 15px;
  height: 15px;
}
.hero-promo-address {
  font-weight: 500;
  font-size: 0.75rem;
  font-style: normal;
  color: #ffffff;
}
.hero-promo-time {
  font-weight: 400;
  font-size: 0.75rem;
  color: #ffffff;
  opacity: 0.7;
}
.hero-promo-title {
  margin: 0;
  margin-top: 0.9375rem;
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 160%;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-promo-title-text {
  font-weight: 400;
  font-size: 1.25rem;
  color: #ffffff;
  line-height: 140%;
}
.hero-promo-priorities {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 1.875rem;
}
.priority-item {
  display: flex;
  max-width: 12.1rem;
  margin-right: 2.9rem;
  gap: 0.9375rem;
}
.priority-item-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.priority-svg {
  width: 16px;
  height: 16px;
  opacity: 1;
}
.priority-text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 129%;
  color: #ffffff;
}
.hero-promo-button {
  margin-top: 1.375rem;
  border: 1.3px solid #ffffff;
  border-radius: 5px;
  padding: 0.9375rem 1.5625rem;
  width: 9.9375rem;
  height: 3.3125rem;
  background: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #6f73ee;
  cursor: pointer;
}
.advantages-choice {
  margin-top: 4.5rem;
  display: flex;
}
.advantages-choice-wrapper {
  margin-left: 8.5rem;
}
.advantages-choice-title {
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 145%;
  text-transform: uppercase;
  color: #282739;
}
.advantages-list-title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 119%;
  color: #282739;
}

.check-advant {
  width: 1.375rem;
  height: 1.375rem;
}
.advantages-item-text {
  font-weight: 400;
  font-size: 1.125rem;
  color: #282739;
}
.advantages-learn {
  margin-top: 5.875rem;
  display: flex;
}
.advantages-learn-wrapper {
  margin-left: 5.9375rem;
  margin-right: 9.375rem;
}
.advantages-list-item {
  margin-top: 0.9375rem;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.advantages-list-content {
  padding: 0;
}
.products-title {
  font-weight: 600;
  font-size: 2.1875rem;
  text-transform: uppercase;
  text-align: center;
  color: #282739;
  max-width: 45.75rem;
  margin: auto;
  margin-top: 6.25rem;
  line-height: 137%;
}
.product-cards-wrapper {
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
  margin-left: 4px;
  display: flex;
  gap: 1.875rem;
}
.product-card {
  position: relative;
  max-width: 15.9375rem;
  max-height: 30.75rem;
  border: 1.5px solid #eaebed;
  border-radius: 10px;
}
.product-card:hover {
  border: 1.5px solid #6f73ee;
}
.product-card-title {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.125rem;
  color: #282739;
}
.product-card-img {
  width: 100%;
}
.product-img-badge-hit {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  border-radius: 5px;
  width: 2.5625rem;
  height: 1.5625rem;
  background: #ee685f;
  font-weight: 500;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5625rem;
}
.product-img-badge-new {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  border-radius: 5px;
  width: 3.9375rem;
  height: 1.5625rem;
  background: #75d14a;
  text-align: center;
  line-height: 1.5625rem;
  font-weight: 500;
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
}
.product-img-badge-compare {
  position: absolute;
  top: 10px;
  right: 7px;
  width: 2.1875rem;
  height: 2.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-compare-svg {
  width: 20px;
  height: 20px;
  fill: #5d6c7b;
}
.product-card-description {
  padding: 1.25rem 1.3rem 1.25rem 1.5rem;
}
.product-specs-list {
  columns: 2 auto;
  padding: 0;
  margin-top: 1.4375rem;
  margin-bottom: 14px;
}
.product-specs-item {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}
.product-specs-item-svg {
  width: 18px;
  height: 18px;
  padding: 0;
}
.product-specs-item-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5d6c7b;
}
.product-options {
  display: flex;
  margin-bottom: 1rem;
}
.product-old-price {
  font-weight: 500;
  font-size: 0.75rem;
  text-decoration: line-through;
  color: #5d6c7b;
}
.product-price {
  font-weight: 600;
  font-size: 1.25rem;
  color: #282739;
}
.product-actions {
  margin-left: 1.625rem;
}
.product-cart-btn,
.product-favorite-btn {
  width: 2.5rem;
  height: 2.5rem;
  border: 1.3px solid #eaebed;
  border-radius: 100%;
  background-color: #ffffff;
  cursor: pointer;
}
.product-favorite-btn {
  margin-left: 3px;
}
.product-cart-svg,
.product-favorite-svg {
  width: 20px;
  height: 20px;
}
.product-card-button {
  padding: 0.625rem 2.1875rem;
  display: flex;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
}
.cta {
  height: 27.8125rem;
}
.cta-back {
  background-color: #f4f7fb;
  border-radius: 10px;
  position: relative;
}
.cta-img {
  position: absolute;
  bottom: 0.8125rem;
  right: 11.25rem;
  min-height: 30.9375rem;
}
.cta-form-title {
  max-width: 38.3125rem;
  margin-left: 6px;
  padding-top: 5.7rem;
  font-weight: 600;
  font-size: 2.1875rem;
  text-transform: uppercase;
  color: #282739;
  line-height: 140%;
}
.cta-input-title {
  margin: 0;
  padding-top: 9px;
  margin-left: 5px;
  font-weight: 500;
  font-size: 1rem;
  color: #282739;
}
.input {
  width: 16.4375rem;
  height: 3.3125rem;
  border: 1px solid #eaebed;
  border-radius: 5px;
  padding: 0.9375rem 1.5625rem;
}
.input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  /* letter-spacing: 0.15em; */
  text-align: center;
  color: #5d6c7b;
}
.input-group-wrapper {
  margin-top: 1.3125rem;
  margin-left: 0.4375rem;
}
.input:focus {
  border-color: #6f73ee;
  outline: none;
}
.form-button {
  margin-left: 0.9375rem;
  border-radius: 5px;
  padding: 0.9375rem 1.5rem;
  width: 16.125rem;
  height: 3.3125rem;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
.notify-wrapper {
  max-width: 21.0625rem;
  margin-top: 8px;
  margin-left: 5px;
}
.notify-label {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 4.875rem;
}
.notify-input {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.notify-input:checked {
  background-color: #ffffff;
  border-color: #6f73ee;
}

.notify-input:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -1px;
  width: 3px;
  height: 9px;
  border: solid #6f73ee;
  border-width: 0 2px 3px 0;
  transform: rotate(45deg);
}
.notify-text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 117%;
  color: #282739;
}
.privacy-link {
  color: #282739;
  text-decoration: underline;
  cursor: pointer;
}
.subscribe {
  margin-top: 5.5625rem;
  min-height: 5.9375rem;
  background-color: #6f73ee;
}
.subscribe-wrapper {
  padding-top: 0.875rem;
  max-width: 71.6875rem;
  display: flex;
  align-items: center;
}
.subscribe-title {
  max-width: 27.8125rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 122%;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe-input {
  width: 25.625rem;
  height: 3.3125rem;
  margin-left: 5.9375rem;
  border-radius: 5px;
  border: 0;
  padding: 0.9375rem 1.5625rem;
  background: rgba(255, 255, 255, 0.2);
}
.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-button {
  margin-left: 0.9375rem;
  border: 0;
  border-radius: 5px;
  padding: 0.9375rem 1.5625rem;
  width: 8.75rem;
  height: 3.3125rem;
  background: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #6f73ee;
}
.footer {
  background: #f4f7fb;
}
.footer-top-wrapper {
  display: inline-flex;
  margin-top: 2.0625rem;
  margin-left: -0.8125rem;
  margin-bottom: 3.1rem;
}
.footer-line {
  margin-left: -0.8125rem;
  height: 1px;
  background: #d9d9d9;
}
.footer-site-map {
  display: flex;
}
.footer-map-customers {
  margin-left: 7.8125rem;
}
.footer-map-title {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.125rem;
  color: #282739;
}
.footer-map-list {
  padding: 0;
  margin-top: 1.25rem;
}
.columns-2 {
  columns: 7rem 2;
  column-gap: 2.75rem;
}
.footer-map-item {
  list-style: none;
  margin-bottom: 0.71rem;
}
.footer-map-item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  color: #5d6c7b;
}
.footer-contacts {
  margin-left: 6rem;
}
.footer-phones-wrapper {
  display: flex;
  gap: 2.5rem;
}
.footer-phones-title {
  margin-bottom: 0.625rem;
  font-weight: 400;
  font-size: 0.75rem;
  color: #282739;
}
.footer-phone-number {
  font-weight: 500;
  font-size: 1rem;
  color: #282739;
  text-decoration: none;
}
.footer-worktime {
  font-weight: 400;
  font-size: 0.75rem;
  color: #5d6c7b;
}
.footer-call {
  margin-left: 4.48rem;
  font-weight: 500;
  font-size: 0.75rem;
  color: #6f73ee;
  text-decoration: none;
}
.footer-center {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}
.footer-logo-svg {
  max-width: 7.1875rem;
  max-height: 1.875rem;
  margin-top: 2.1875rem;
  margin-left: -0.8125rem;
  margin-right: 3.1875rem;
}
.footer-apps-wrapper {
  margin-top: 2.1875rem;
}
.footer-apps-link {
  margin-left: 0.4375rem;
  text-decoration: none;
}
.footer-media-wrapper {
  margin-top: 2rem;
  margin-left: 15.125rem;
  display: flex;
  gap: 10px;
}
.footer-media-card {
  display: inline-flex;
  max-width: 7.6875rem;
  max-height: 2.8125rem;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 5px;
  background: #ffffff;
  text-decoration: none;
}
.footer-media-card-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.footer-media-card-icon svg {
  width: 20px;
  height: 20px;
}
.footer-media-card-text {
  margin-top: -5px;
  margin-left: -4px;
}
.footer-media-card-title {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  color: #282739;
}
.footer-media-card-count {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.625rem;
  color: #5d6c7b;
}
.footer-bottom-documents {
  margin-left: -0.8125rem;
  margin-top: 1.1rem;
}
.requisites-link,
.politics-link {
  margin-right: 2.4rem;
  font-weight: 400;
  font-size: 0.75rem;
  color: #5d6c7b;
  text-decoration: none;
}
.footer-bottom {
  padding-bottom: 1.4375rem;
  display: flex;
  justify-content: space-between;
}
.footer-payments {
  margin-top: 1.2rem;
  margin-left: 18.5rem;
  margin-right: 0.625rem;
}
.footer-payments-logo {
  max-width: 34px;
  max-height: 23px;
  margin-left: 11px;
}
.footer-chats {
  margin-top: 1.2rem;
  margin-right: 1.6875rem;
  display: flex;
  gap: 14px;
}
.footer-chats-text {
  font-weight: 400;
  font-size: 0.875rem;
  color: #282739;
}
.footer-chats-link {
  text-decoration: none;
}
.footer-chat-svg {
  width: 16px;
  height: 16px;
  filter: grayscale(100%);
}
.modal {
  border-radius: 5px;
  width: 49.375rem;
  height: 36.875rem;
  margin: auto;
  position: relative;
}
.modal-dialog {
  display: flex;
  background-color: #ffffff;
  padding: 2.5rem 3.5rem 2.3125rem 2.5rem;

  /* transform: translateY(-10%);
  opacity: 0; */
  transition:
    transform 0.3s,
    opacity 0.3s;
}
.modal-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  height: 20px;
}
.modal-description-wrapper {
  display: flex;
  flex-direction: column;
}
.modal-title {
  max-width: 16.625rem;
  font-weight: 600;
  font-size: 1.5625rem;
  text-transform: uppercase;
  color: #282739;
}
.modal-title-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 125%;
  color: #282739;
}
.modal-text {
  max-width: 17.875rem;
  font-weight: 400;
  font-size: 0.875rem;
  color: #282739;
}
.modal-input-title {
  font-weight: 400;
  font-size: 0.75rem;
  color: #5d6c7b;
}
.modal-form-button {
  margin-top: 1.25rem;
  border-radius: 5px;
  padding: 0.9375rem 1.5rem;
  width: 16.4375rem;
  height: 3.3125rem;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
.modal-notify-wrapper {
  max-width: 14.25rem;
}
.notify-input-modal {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #f4f7fb;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.notify-input-modal:checked {
  background-color: #f4f7fb;
}

.notify-input-modal:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -1px;
  width: 3px;
  height: 9px;
  border: solid #6f73ee;
  border-width: 0 2px 3px 0;
  transform: rotate(45deg);
}
.modal-img {
  max-width: 338px;
  max-height: 31.0625rem;
}
